<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <title>Gerador de Currículo - Home</title>
</head>
<header>
    <h2>Nome do projeto</h2>
</header>

<main>
    <p>Conteudo da home</p>
    <p>meu nome é : <%= profile.nome %></p>
    <p>estado civil : <%= profile.marital_status %></p>
</main>

<footer>Todos os direitos reservados | Infnet Bootcamp 2021</footer>
</body>

</html>